@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.eot');
    src: url('fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body  {
	padding: 0 ;
	margin:0;
}

.headerBackground, .headerBackgroundAbout {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/workTable.jpg') no-repeat;
	width: 100%;
	display: table;
	background-size: cover;
}

.headerBackgroundAbout {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/about.jpg') no-repeat;
}

.icon, .title {
	margin-bottom: 19%;
}

.icon img{
	width: 40px;
	padding: 3px;
}

.searchBar {
	border-bottom: 2px #e5d9b9 solid;
	padding: 0;
	margin-bottom: 9px;
}

.search {
	border: none;
    width: 100%;
    margin-top: -1px;
    padding: 0;
    background: none;
}

input[type=text], input[type=password] {
	background: none;
	border: none;
	border-bottom: 1px #e5d9b9 solid;
	
}

input[type=submit] {
	font-family: 'ralewaybold', 'ralewaysemibold', 'ralewayregular';
	color: #e5d9b9;
	background-color: transparent;
	border: none;
	font-size: 14pt;
}

input:focus {
	color: #e4dab7;
	font-family: 'ralewaybold', 'ralewaysemibold', 'ralewayregular';
	font-size: 14pt;
}

::-webkit-input-placeholder {
	color: #e5d9b9;
	font-family: 'ralewaysemibold', 'ralewayregular';
}
.email {
	margin-right: 83px;
}
.signUp {
	padding-right: 20px;
}

.searchIcon{
	color: #e5d9b9 ;
	font-size: 15pt;
}

.navi {
	height: 55px;
	background-color: #006665;
}

h1 {
	font-family: 'ralewaybold', 'ralewaysemibold', 'ralewayregular';
	font-size: 40pt;
}

h2, h3, h4 {
	font-family: 'ralewaysemibold', 'ralewayregular';
}

h1, h2, a, h4 {
	color: #e5d9b9;
}

h3 {
	color: #013334; 
	font-size: 20pt;
}

h4:hover, h4:active {
	color: #013334; 
}

p {
	font-family: 'ralewayregular', 'ralewaysemibold'; 
	font-size: 15pt;
	padding-bottom: 0px;
	color: #006665;
}

.logo {
	margin-left: 30px;
}

.mainNav {
	background-color: #006665;
	margin: 0px;
	font-size: 15pt;
	padding-top: 5px;
}

.footer {
	position: fixed;
	bottom:0;
	width:102%;
	background-color: #006665;
	margin-top: 40px;
}

.footer img {
	width: 50px;
	padding: 10px;
	margin-left: 10px;
}

.drop{
	text-shadow: 2px 2px 4px rgba(150,150,150,1);
}

.profilePics{
	width:40%;
}

a {
	color: #006665;
}

a:hover {
	text-decoration: none;
}

.highlightName {
	color: #013334; 
}

.describe p {
	text-align: left;
	color: #e5d9b9;
	font-family: 'ralewaysemibold', 'ralewayregular';

}

.navi {
	background-color: #006665;
}



