@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.eot');
    src: url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff'),
         url('fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('fonts/raleway-semibold-webfont.eot');
    src: url('fonts/raleway-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('fonts/raleway-semibold-webfont.woff') format('woff'),
         url('fonts/raleway-semibold-webfont.ttf') format('truetype'),
         url('fonts/raleway-semibold-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body  {
	padding: 0 ;
	margin:0;
}

.headerBackground {
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/workTable.jpg') no-repeat;
	width: 100%;
	display: table;
	background-size: cover;
}

.icon, .title {
	margin-bottom: 13%;
}

.icon img{
	width: 40px;
	padding: 3px;
}

.searchBar {
	border-bottom: 2px #e5d9b9 solid;
	padding: 0;
	margin-bottom: 9px;
}

.search {
	border: none;
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
}

.searchIcon{
	color: #e5d9b9 ;
	font-size: 14pt;
}

.navi {
	padding-top:5px;
	height: 50px;
	background-color: #006665;
}

h1 {
	font-family: 'ralewaybold', 'ralewaysemibold', 'ralewayregular';
	font-size: 40pt;
}

h2, h3, .mainNav {
	font-family: 'ralewaysemibold', 'ralewayregular';
}

h1, h2, a {
	color: #e5d9b9;
}

h3 {
	color: #013334; 
}

p {
	font-family: 'ralewayregular', 'ralewaysemibold'; 
	font-size: 18pt;
	padding-bottom: 4px;
}

a:hover, a:active {
	color: #013334;
}

.logo {
	margin-left: 30px;
}

.mainNav {
	background-color: #006665;
	margin: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 15pt;
}

.footer {
	position: fixed;
	bottom:0;
	width:102%;
	background-color: #006665;
}

.footer img {
	width: 50px;
	padding: 10px;
	margin-left: 10px;
}

.drop{
	text-shadow: 2px 2px 4px rgba(150,150,150,1);
}

.profilePics{
	width:40%;
}

